$white: rgb(255, 255, 255);
$white-darker: rgb(245, 245, 245);
$white-violet: rgb(230, 230, 250);
$white-pink: rgb(240, 248, 255);
$black: rgb(0, 0, 0);
$black-ligher: rgb(36, 35, 35);
$violet: rgb(138, 43, 226);
$violet-lighter: rgb(146, 52, 235);
$violet-darker: rgb(129, 41, 211);